@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,900,900i&display=swap&subset=latin-ext');

body {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

header {
  padding-left: 1em;
  margin-top: 1em;
}

main {
  padding-left: 8em;
  margin-bottom: 4em;
  width: 50%;
  min-height: 100%;
  padding-bottom: 2em;
}

footer {
  width: auto;
  height: 1em;
  position: relative;
  background-color: #eee;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
  clear: both;
}

article div {
  width: 50rem;
}

input {
  color: #000;
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5pt 100pt;
  font-size: 20pt;
  width: 90vw;
  height: 2em;
  margin-left: -8rem;
  border-width: 0 0 2pt 0;
  border-style: solid;
  border-color: #000;
  border-radius:0;
  -webkit-appearance: none;
  -webkit-border-radius:0; 
}

#app {
  padding-left: 1em;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0000ee;
}

h1 {
  margin: 0 0 4rem 0;
  font-size: 50pt;
  color: #000;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 12pt;
  font-weight: 900;
}

#author {
  font-style: italic;
}

li {
  padding-left: 0;
  margin-bottom: 0.5em;
  list-style-type: none;
} 

p, ul, ol {
  line-height: 1.5em;
  font-size: 12pt;
}

ol {
  margin: 0;
  padding-left: 1em;
}

img {
  width: 100%;
}

hr {
  color: #000 solid;
}

.number {
  font-weight: 900;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50pt;
  }

  input {
    margin: 0;
    padding: 5pt 10pt;
    width: 100%;
  }

  main {
    margin: 0;
    padding: 0 10px;
    max-width: 100%;
    width: 100%;
  }

  footer {
    padding-left: 20px;
  }

  article div {
    width: 100%;
  }
}