@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,900,900i&display=swap&subset=latin-ext');

body {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

header {
  padding-left: 1em;
  margin-top: 1em;
}

main {
  padding-left: 8em;
  margin-bottom: 4em;
  width: 50%;
  min-height: 100vh;
  padding-bottom: 2em;
}

footer {
  width: auto;
  height: 2em;
  position: relative;
  background-color: #eee;
  margin-top: -2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
  clear: both;
}

footer:active {
  background-color: rgba(51,255,51,0.5);
}

article div {
  width: 50rem;
}

input {
  color: #000;
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5pt 100pt;
  font-size: 20pt;
  width: 90vw;
  height: 2em;
  margin-left: -8rem;
  border-width: 0 0 2pt 0;
  border-style: solid;
  border-color: #000;
  border-radius:0;
  -webkit-appearance: none;
  -webkit-border-radius:0; 
}

#app {
  padding-left: 1em;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0000ee;
}

h1 {
  margin: 0 0 4rem 0;
  font-size: 50pt;
  color: #000;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 12pt;
  font-weight: 900;
}

#author {
  font-style: italic;
}

li {
  padding-left: 0;
  margin-bottom: 0.5em;
} 

ul li {
  list-style-type: none;
}

p, ul, ol {
  padding-left: 0;
  line-height: 1.5em;
  font-size: 12pt;
}

ol {
  margin: 0;
  padding-left: 1em;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  color: #000 solid;
}

.number {
  font-weight: 900;
}

@media (max-width: 1000px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 50pt;
    padding: 0;
  }

  input {
    margin: 0;
    padding: 5pt 0pt;
    max-width: 100%;
  }

  header {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  footer {
    height: 100%;
    margin: 0 -10px;
    margin-top: 0;
  }


  footer p {
    margin: 0 ;
    padding: 1em 0 0 0;
  }

  article div {
    width: 100%;
    margin: 0;
  }

  .articlelist {
    position: relative;
    width: 90%;
  }

  #app {
    width: 100%;
    margin: 0;
    padding: 0 0 5pt 0;
  }
}
